.mainContainer {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 1.5rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.219);
    border-radius: 1.1rem;
}

.header {
    width: 100%;
}
.div_header {
    display: flex;
    justify-content: center;
    background-color: #288da7;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.div_header h1 {   
    color: #fff;
    font-size: 2.1rem;
    margin-top: 1rem;
}
.div_header img {
    width: 80px;
    height: 80px;
    cursor: default;
}

.container {
    background-color: #fac3a9;
    width: 100%;
}
.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin: 1.5rem 2.5rem;
    padding: 0.5rem 1rem 2rem 1rem;
    border-radius: 7px;
}
.container form .column {
    display: flex;
    flex-direction: column;
}
.container form .column section {
    display: flex;
    flex-direction: column;
}
.form_historial_icon {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-left: 0rem;
} 
.form_historial_icon img{
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding-bottom: 0.1rem;
    border-bottom: 2px solid transparent;
}
.form_historial_icon img:hover{
    border-bottom: 2px solid #2b8bda;
}
.container form .btnSubmit input {
    font-weight: bolder;
    background-color: #fff;
    color: #2b8bda;
    margin-top: 1rem;
    margin-bottom: -1rem;
    border: 2px solid #2b8bda;
    /*#2b8bda*/
    border-radius: 5px;
    padding: 0.7rem 1.5rem 0.6rem 1.5rem;
    cursor: pointer;
}
.container form .btnSubmit input:hover {
    color: #fff;
    background-color: #2b8bda;
}
.container form .column section label {
    font-size: 1rem;
    margin-top: 0.7rem;
}
.container form .column section select{
    width: 300px;
    margin-top: 0.4rem;
    padding: 0.6rem 0.2rem;
    border: 2px solid #ebebeb;
    border-radius: 5px;
    outline-color: #2b8bda;
    font-size: 0.95rem;
}
.container form .column section select:focus{
    border: 2px solid #2b8bda;
}
.container form .column section select:hover{
    border: 2px solid #2b8bda;
}
.container form .column section select option {
    border-radius: 0rem;
}
.boletos label {
    margin-top: 0.5rem;
    margin-left: -0.5rem;
    text-align: center;
}
.boletos ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
.boletos ul li {
    margin-right: 0.5rem;
}
.botonesBoletos{
    width: 30px;
    height: 30px;
    font-family: 'Courier New';
    font-size: 1rem;
    font-weight: bold;
    background-color: #fff;
    color: #2b8bda;
    margin-top: 0.8rem;
    border: 2px solid #2b8bda;
    border-radius: 5px;
    cursor: pointer;
}
.botonesBoletos:hover {
    color: #fff;
    background-color: #2b8bda;
}
.numberBoletos {
    width: 156px;
    text-align: center;
    margin-top: 0.5rem;
    padding: 0.6rem 0.2rem;
    border: 2px solid #ebebeb;
    border-radius: 5px;
    outline-color: #2b8bda;
    font-size: 0.95rem;
}

.mensaje {
    width: 100%;
    height: 70px;
    color: #fff;
    background-color: #288da7;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.resultado {
    display: flex;
    justify-content: center;
    margin-top: 1.2rem;
    text-align: center;
}
.resultado p {
    margin-top: 0.2rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .mainContainer {
        margin: 5rem 1rem;
    }

    .container form {
        padding: 2.7rem 1rem 2rem 1rem;
        margin: 1.5rem 1rem;
    }
    .container form .column {
        flex-direction: row;
    }
    .container form .column section {
        margin-right: 0.5rem;
    }

    .container form .column section:last-child {
        margin-right: 0;
    }
    .form_historial_icon {
        margin-top: -2.2rem;
        width: 0;
        align-items: baseline;
        padding-left: 0;
        
    }
    .form_historial_icon img{
        cursor: pointer;
        width: 40px;
        height: 40px;
        margin-left: 0.5rem;
        padding-bottom: 0.1rem;
        border-bottom: 2px solid transparent;
    }
    .container form .column section select {
        width: 180px;
    }
    .numberBoletos {
        width: 55px;
    }

}

@media screen and (min-width: 1024px) {
    .mainContainer {
        margin: 5rem 2rem;
    }
    .container form {
        padding: 1.5rem 1rem 2rem 1rem;
    }
    .container form .column {
        flex-direction: row;
    }
    .container form .column section {
        margin-right: 1rem;
    }
    .container form .column section:last-child {
        margin-right: 0;
    }
    .form_historial_icon {
        margin-top: 2.4rem;
    }
    .container form .column section select {
        width: 190px;
    }
    .numberBoletos {
        width: 100px;
    }
}